RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://bossmedclinic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bossmedclinic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bossmedclinic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bossmedclinic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bossmedclinic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bossmedclinic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bossmedclinic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bossmedclinic.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]


RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.bossmedclinic.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
ErrorDocument 404 /404.html